<!DOCTYPE html>
<html>
<head>
  <title>VerifyMeTAMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">



    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, :id => key %>
    <% end %>

    <%= yield %>

    <ul class="nav">
      <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-default' %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path, class: 'btn btn-default' %></li>
      <li><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default' %></li>
      <% end %>
    </ul>
  </div>

</body>
</html>
